<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>trev</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap">
  <link rel="stylesheet" media="screen" href="assets/css/main_style.css">
</head>
<body>


<div id="particles-js"></div>
<script src="assets/js/particles.js"></script>
<script src="assets/js/app.js"></script>

<div id="main">
<h1>trev</h1>
<p id="text">i don't have much to say here</p>
<br>

<a class="wte" href="https://www.github.com/TrevTV">github</a><br>
<a class="wte" href="https://bonetome.com/user/trevtv">bonetome</a><br>
<a class="wte" href="https://trevtv.github.io/ieytd/">ieytd bhaptics integration</a>
</div>

</body>
</html>